extends layout

block content
    div(class="row justify-content-center mt-3")
        h3="莊家"

    div(class="row justify-content-center")
        div.col
            div(class="row justify-content-center card-row-dealer")
                img(class="card-area", src="images/cards/empty.gif")

    div(class="row justify-content-center mt-5")
        div.col-auto
            img(id="reset-world", src="images/cards/b1fv.gif")

    div(class="row justify-content-center mt-5")
        each pos in [0, 1, 2, 3, 4]
            div(class="col player-area")
                div(class="row justify-content-center card-row")
                    img(class="card-area", src="images/cards/empty.gif")
                div(class="row justify-content-center")
                    h5(class="player-name")="name"
                div(class="row justify-content-center")
                    button(class="btn btn-primary join-game" data-pos=pos)="加入"
                    button(class="btn btn-primary on-load hide" data-pos=pos)="準備"
                    button(class="btn btn-primary loading")
                        span(class="spinner-border spinner-border-sm")
                    button(class="btn btn-primary bet-btn hide" data-pos=pos)="下注"
                    button(class="btn btn-primary call-btn hide" data-pos=pos)="要牌"
                    button(class="btn btn-primary continue hide" data-pos=pos)="繼續"
                div(class="row justify-content-center mt-2")
                    div.col-auto
                        input(type="number" class="form-control bet-input" value="100")
                        button(class="btn btn-primary stand-btn hide" data-pos=pos)="停止"
                div(class="row justify-content-center mt-3")
                    div.col-auto
                        h5(class="player-pocket")="餘額:2000"
    div(class="row justify-content-center mt-5")
        h5="小提示:點擊小藍牌可以到另一個世界線"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script(src="scripts/io-client.js")
    script(src="scripts/card-animate.js")
