extends layout

block content
    div(class="row justify-content-center mt-5")
        h3="莊家"

    div(class="row justify-content-center")
        div.col-auto
            img(src="images/cards/empty.gif")

    div(class="row justify-content-center mt-5")
        div.col-auto
            img(src="images/cards/b1fv.gif")

    div(class="row justify-content-center mt-5")
        div.col
            div(id="dudu", class="row justify-content-center one-card-row")
                img(src="images/cards/empty.gif")
                img(class="position-absolute", src="images/cards/c1.gif")
            div(class="row justify-content-center")
                h5="name"
        div.col
            div(class="row justify-content-center two-card-row")
                img(src="images/cards/empty.gif")
                img(class="position-absolute", src="images/cards/c1.gif")
                img(class="position-absolute", src="images/cards/c2.gif")
            div(class="row justify-content-center")
                h5="name"
        div.col
            div(class="row justify-content-center three-card-row")
                img(src="images/cards/empty.gif")
                img(class="position-absolute", src="images/cards/c1.gif")
                img(class="position-absolute", src="images/cards/c2.gif")
                img(class="position-absolute", src="images/cards/c3.gif")
            div(class="row justify-content-center")
                h5="name"
        div.col
            div(class="row justify-content-center four-card-row")
                img(src="images/cards/empty.gif")
                img(class="position-absolute", src="images/cards/c1.gif")
                img(class="position-absolute", src="images/cards/c2.gif")
                img(class="position-absolute", src="images/cards/c3.gif")
                img(class="position-absolute", src="images/cards/c4.gif")
            div(class="row justify-content-center")
                h5="name"
        div.col
            div(class="row justify-content-center five-card-row")
                img(src="images/cards/empty.gif")
                img(class="position-absolute", src="images/cards/c1.gif")
                img(class="position-absolute", src="images/cards/c2.gif")
                img(class="position-absolute", src="images/cards/c3.gif")
                img(class="position-absolute", src="images/cards/c4.gif")
                img(class="position-absolute", src="images/cards/c5.gif")
            div(class="row justify-content-center")
                h5="name"

    script(src="scripts/card-animate.js")
